<a href="https://colab.research.google.com/github/sightes/BIGDATA-UBO2022/blob/main/koalas_03_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount("/content/gdrive")
gdrive='content/gdrive/MyDrive/UBO-BIGDATA2'

Mounted at /content/gdrive

In [2]:
%%capture
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget 'https://dlcdn.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz' -O 'spark-3.3.1-bin-hadoop3.tgz'
!tar -xvf /content/spark-3.3.1-bin-hadoop3.tgz
!pip install -q findspark

In [3]:
import os 
os.environ['JAVA_HOME']='/usr/lib/jvm/java-8-openjdk-amd64'
os.environ['SPARK_HOME']='/content/spark-3.3.1-bin-hadoop3'

In [4]:
import findspark 
findspark.init()
from pyspark.sql import SparkSession
spark=SparkSession.builder.master("local[*]").appName("ejemplo1").getOrCreate()

In [ ]:
!pip install koalas

In [6]:
import numpy as np
import pandas as pd
import databricks.koalas as ks

WARNING:root:Found pyspark version "3.3.1" installed. The pyspark version 3.2 and above has a built-in "pandas APIs on Spark" module ported from Koalas. Try `import pyspark.pandas as ps` instead.
WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

In [ ]:
pdser=pd.Series([1,2,3,np.nan,6,8])
pdser

In [ ]:
ksser=ks.Series([1,2,3,np.nan,6,8])
ksser

In [ ]:
ks.from_pandas(pdser)

In [ ]:
df=pd.DataFrame([[1,2,3]])
ks.from_pandas(df).transpose()

In [29]:
df=pd.DataFrame(np.asarray([1,2,3]).reshape(-1,1))
ksdf=ks.from_pandas(df)

In [31]:
ksdf.apply(lambda x: x**2)

   0
0  1
1  4
2  9